.parent {
  align-items: center;
  max-width: 760px;
  min-width: 420px;
  margin: 0 auto;
  background-color: #434346;
  border-radius: 20px;
}

.divlabel {
  text-align: center;
  padding: 10px;
  color: white;
}

.zielscheibe * {
  box-sizing: unset;
}
.zielscheibe {
  position: relative;
  margin: 0 auto;
  aspect-ratio: 1/1;
  width: 90%;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 0px 10px lightgray;
}

#ring1,
#ring2,
#ring3,
#ring4,
#ring5,
#ring6,
#ring7,
#ring8,
#ring9,
#ring10 {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #000;
}

.punkt {
  position: absolute;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: solid 1px #000;
}

.hidden {
  display: none;
}

.punkt.green,
.punkt.yellow,
.punkt.red,
.punkt.blue {
  visibility: hidden;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.green {
  background-color: green;
  color: white;
  animation-delay: 1s;
}

.red {
  background-color: red;
  color: white;
  animation-delay: 1.5s;
}

.yellow {
  background-color: yellow;
  color: black;
  animation-delay: 2s;
}

.blue {
  background-color: blue;
  color: white;
  animation-delay: 2.5s;
}
